.row.page-header
  %h1
    = @post.title
    %small
      Posted by #{@post.user.email} at #{@post.created_at}
#post-body.row
  = @post.body
%h2 Comments
%ul.media-list
  - @post.comments.each do |f|
    %li.media
      %a.pull-left{:href => "#"}
        %img.media-object{:src => "http://placehold.it/64x64"}/
      .media-body
        %h4.media-heading= f.user.email
        = raw f.body
.row
  %h3 Add a comment
  = form_for([@post, @post.comments.build]) do |f|
    .row
      = f.text_area :body, :class => 'wysihtml5 span6'
    .row
      = f.submit
- if user_signed_in? && @post.user == current_user
  = link_to 'Edit', edit_post_path(@post)
= link_to 'Back', posts_path
:javascript
  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });