<!DOCTYPE html>
<html>
<head>
  <title>Source</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar"" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Source", posts_path, :class => "brand" %>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="user-auth-nav" style="float-right">
	<% if user_signed_in? %>
		<%= link_to('Edit registration', edit_user_registration_path) %> | 
  		<%= link_to('Logout', destroy_user_session_path) %> 
  	<% else %>
  		<%= link_to('Login', new_user_session_path)  %> | 
  		<%= link_to('Register', new_user_registration_path)  %>
	<% end %>
</div>
<%= yield %>

</body>
</html>
