!!!
%html
  %head
    - if content_for?(:title)
      %title
        SourceCONNECT | #{yield(:title)}
    - else
      %title
        SourceCONNECT Beta
    %title Source
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    #screencenter
    = analytics_init
    .row-fluid
      .navbar.navbar-inverse.navbar-fixed-top
        .navbar-inner
          .container-fluid
            %button.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to "SourceCONNECT ᵇᵉᵗᵃ", posts_path, :class => "brand"
            .nav-collapse.collapse
              %ul.nav
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Account
                    %b.caret
                  %ul.dropdown-menu
                    - if user_signed_in?
                      %li= link_to('Sign Out', destroy_user_session_path)
                      %li= link_to('Edit Account Info', edit_user_registration_path)
                    - else
                      %li= link_to('Sign In', new_user_session_path)
                      %li= link_to('Register', new_user_registration_path)
                - if user_signed_in?
                  %li
                    = link_to 'New Post', new_post_path
                %li
                  = link_to 'About', '/about'
                - if user_signed_in? && current_user.admin?
                  %li
                    = link_to('Admin', '/radmin', 'data-no-turbolink' => 'true')
    .container-fluid
      - if notice
        .alert
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = notice
      .span12
        = yield

:javascript
  var opts = {
    lines: 17,
    length: 40,
    width: 7, 
    radius: 48, 
    corners: 1, 
    rotate: 71, 
    direction: 1, 
    color: '#000', 
    speed: 1.1, 
    trail: 100, 
    shadow: true,
    zIndex: 2e9,
    hwaccel: true,
    className: 'spinner',
    top: 'auto',
    left: 'auto'
  };
  var target = document.getElementById('screencenter');
  var spinner = new Spinner(opts);
  document.addEventListener("page:fetch", function(){
    spinner.spin(target);
  });
  document.addEventListener("page:recieve", function(){
    spinner.stop();
  });